body {
    background-color: cadetblue;
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Bitcount Grid Double", system-ui;
}
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 4px 2px rgba(0,0,0,0.25);
}
.title-container h1 {
    font-size: 60px;
    margin-bottom: 0%;
}
.title-container h2 {
    margin-top: 0%;
}
@media screen and (max-width: 768px) {
    .title-container h1 {
      font-size: 40px;
}
}
@media screen and (max-width: 768px) {
    #grid-container {
        max-width: 300px;
        max-height: 300px;
    }
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn-size {
    width: 100px;
    height: 50px;
}
.btn-color {
    width: 100px;
    height: 50px;
}
#grid-container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    box-shadow: 10px 9px 5px 0px rgba(0,0,0,0.75);
}
.boxes-container {
    border: 1px solid #9CA3AF;
    box-sizing: border-box;

}
